.header nav ul{
    display: flex;
    gap: .5rem;
    list-style: none;
    text-decoration: none;
    margin-left: 29.8rem;
   
}
.navLink{
    color: whitesmoke;
    text-decoration: none;
}
.header{
    background-color: #CE2829;
}
.navLink:focus{
    font-weight: bold;
}